body{
    margin: 0%;
}
.header
{
    background-color: red;
    width: 100%;
    height: 20%;
}
.content
{
    /* height: 60%; */
    /* float: left; */
}
.left-section{
    float: left;
    width: 20%;
    height: 60%;
    background-color: green;
}
.right-section{
    float: left;
    width: 80%;
    height: 60%;
    background-color: blue;
}
.footer{
    float: left;
    width: 100%;
    height: 20%;
    background-color: yellow;
}