
table,th, td {
  border: 1px solid rgb(15, 65, 36);
  border-collapse: collapse;
  /* border-radius: 10px; */


  text-align: center;
  padding: 15px;
}
table{
    width: 100%;
}
#name{
    color: black;
    margin: 10px;
}
/* th{
    background-color: rgb(15, 65, 36);
    color: white;
} */
/* tr:hover{
    background-color: rgba(25, 77, 47, 0.479);
    color: white;

} */
div{
    border: 1px solid rgb(245, 238, 238);
    border-radius: 5px;
}
div:hover{
    background-color: cadetblue;

}
.outer-box{
    width: 100%;
    height: 100%;
    background-color: aqua;
    margin: 0px;
    padding: 0px;
   
}
.box-1{
    width: 20%;
    height: 20%;
    background-color: red;
    margin: 0px;
    padding: 0px;
    float: left;
   
}
.box-2{
    width: 20%;
    height: 20%;
    background-color: green;
    margin: 0px;
    padding: 0px;
    float: left;
}
.box-3{
    width: 20%;
    height: 20%;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    float: left;
}
.box-4{
    width: 20%;
    height: 20%;
    background-color: yellow;
    margin: 0px;
    padding: 0px;
    float: inline-end;
}